body {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
}

body h1 {
    text-align: center;
}

container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
    justify-content: center;
    height: 100vh;
}

.partes-factura {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 5px 20px 40px 20px;
}

.table-client {
    padding-bottom: 20px;
}

.table-client th {
    display: flex;
    justify-content: end;

}
.table-client td {
    text-align: left;
}


.registro-cliente {
    background-color: white;
    padding: 5px 5px 20px 15px;
    border-radius: 10px;
    font-size: 16px;
    display: inline-block;
}

.registro-cliente h2 {
    font-size: 25px;
    text-align: center;
}

.registro-cliente div {
    margin: 5px;
}
.registro-cliente label {
    font-weight: bold;
}

.validate-btn {
    display: inline-block;
    background-color: rgb(211, 211, 211);
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.generate-btn {
    display: inline-block;
    background-color: rgb(70, 173, 234);
    color: #000000;
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.generate-btn:hover {
    background-color: rgb(6, 111, 169);
    color: #fffdfd;
}

#error {
    display: inline-block;
    font-size: 12px;
    color: red;
}
